* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* :root {
    --clr-main: #05BFDB;
    --clr-sec: #088395;
    --clr-header: #0A4D68;
    --clr-bg: #00FFCA;
} */
:root {                              
    --clr-main:#FF7F50;
    --clr-sec:#E6E6FA;
    --clr-header:#002D2B;
    --clr-bg:#BCEEDE;
}

body {
    background-color: var(--clr-bg);
}

header {
        position: absolute;
        width: 100vw;
        max-width:100%;
        height: 100px;
        left: 0px;
        top: 0px;
        background: var(--clr-header);
        padding-left: 20px;
        padding-right: 20px;
}

main {
    margin-top: 100px;
    padding: 20px;
}

.title {
    max-width:100%;
    width: 100vw;
    text-align: center;
    height: 100px;
    line-height: 100px;
    color: white;
}

.item1 { grid-area: main; }
.item2 { grid-area: sec; }
.item3 { grid-area: sec2; }
.item4 { grid-area: btn; }

.grid-container {
    display: grid;
    grid-template-areas:
    'main main main sec sec'
    'main main main sec2 sec2'
    'main main main btn btn';
    grid-template-rows: 20 20 20 20 20;
    grid-template-columns: 30 30 30;
    gap: 20px;
    padding: 20px;
    height: 800px;
}

.mainblog {
    background-color: var(--clr-main);
    color: white;
}

.blogtitle {
    width: 100%;
    text-align: center;
    margin: 10px;
}

.blogintro {
    text-align: center;
    margin: auto;
}

.blogimg {

}

.blogtxt {

}

.secblog {
    background-color: var(--clr-main);
}