@font-face {
    font-family: 'MyWebFont';
    src: url('../fonts/Rosemary 400.ttf'); /* Safari, Android, iOS */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: MyWebFont;
    text-decoration: none;
}

/*============================= colors =============================*/

:root {
    --clr-main:#B1B2FF;
    --clr-sec: #AAC4FF;
    --clr-header: #D2DAFF;
    --clr-bg: #EEF1FF;
}

/* :root {
    --clr-main:#E966A0;
    --clr-sec: #6554AF;
    --clr-header: #9575DE;
    --clr-bg: #9575DE;
} */

/* blue */
/* :root {
    --clr-main: #05BFDB;
    --clr-sec: #088395;
    --clr-header: #00FFCA;
    --clr-bg: #00FFCA;
} */
/* :root {                              
    --clr-main:#FF7F50;
    --clr-sec:#E6E6FA;
    --clr-header:#002D2B;
    --clr-bg:#BCEEDE;
} */

/*============================= # =============================*/

body {
    background-color: var(--clr-bg);
}

/*============================= header =============================*/

header {
    width: 100vw;
    max-width:100%;
    height: 100px;
    left: 0px;
    top: 0px;
    background: var(--clr-header);
    padding-left: 20px;
    padding-right: 20px;
    background-image: -moz-linear-gradient(var(--clr-bg), var(--clr-main));
}

.a-title {
    text-decoration: none;
}

.title {
    position: relative;
    width: 50%;
    text-align: center;
    height: 100px;
    line-height: 100px;
    color: white;
    margin: auto;
}

.logindiv {
    position: absolute;
    width: 100px;
    height: 100px;
    right: 20px;
    top: 0;
    color: white;
}

.blogdiv {
    right: 120px;
}

.user {
    position: relative;
    font-size: 40px;
    width: 100px;
    text-align: center;
    top: 20px;
}

.login {
    position: relative;
    width: 100px;
    text-align: center;
    font-size: medium;
    top: 20px;
}

.logindiv:hover {
    text-decoration: underline;
}

/*============================= grid =============================*/

.item1 { grid-area: main; }
.item2 { grid-area: sec; }
.item3 { grid-area: sec2; }
.item4 { grid-area: btn; }

.grid-container {
    display: grid;
    grid-template-areas:
    'main sec'
    'main sec2'
    'main btn';
    grid-template-rows: 45% 45% 5%;
    grid-template-columns: 66% 33%;
    gap: 20px;
    padding: 20px;
    height: 1000px;
}

/*============================= index =============================*/

.mainblog {
    background-color: var(--clr-main);
    color: white;
    padding: 20px;
}

.blogtitle {
    width: 100%;
    text-align: center;
    margin: auto;
}

.blogintro {
    text-align: center;
    margin: auto;
    margin: 10px;
}

.blogimg {
    height: 400px;
    object-fit: cover;
    width: 100%;
}

.blogtxt {
    word-wrap: break-word;
}

.secblog {
    position: relative;
    background-color: var(--clr-main);
    color: white;
    padding: 20px 20px 60px 20px;
}

.secblogtitle {
    height: 60px;
    position: absolute;
    bottom: 0;
    line-height: 60px;
    width: 100%;
    text-align: center;
    word-wrap: break-word;
}
.secblogimg {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.btn {
    width: 100%;
    text-align: center;
}

.btn:hover {
    text-decoration: underline;
}

/*============================= bloglist =============================*/

.grid-container2 {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto auto;
    gap: 20px;
    padding: 20px;
}

/*============================= Login =============================*/

.inlogform {
    width: 30%;
    margin: auto;
    border: solid;
    margin-top: 20px;
    border-radius: 5px;
    padding: 20px;
    background-color: var(--clr-sec);
    margin-bottom: 20px;
}

.formtitle {
    width: 100%;
    text-align: center;
}

.registerlink {
    width: 100%;
    text-align: center;
}

.input {
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    border: solid;
}

.formbutton {
    display: block;
    margin: auto;
    margin-top: 20px;
    width: 150px;
    padding: 5px;
    justify-content: center;
    background-color: var(--clr-main);
    border: solid black 2px;
    border-radius: 5px;
    font-size: larger;
}

.inputdiv {
    margin-top: 20px;
}

/*============================= addblog =============================*/

.b-inlogform {
    width: 70%;
    margin: auto;
    border: solid;
    margin-top: 20px;
    border-radius: 5px;
    padding: 20px;
    background-color: var(--clr-sec);
    margin-bottom: 20px;
}

.b-formtitle {
    width: 100%;
    text-align: center;
}

.b-registerlink {
    width: 100%;
    text-align: center;
}

.b-input {
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    border: solid;
}

.b-inputintro {
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    border: solid;
    height: 100px;
    resize: none;
}

.b-inputtext {
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    border: solid;
    height: 300px;
    resize: none;
}

.b-formbutton {
    display: block;
    margin: auto;
    margin-top: 20px;
    width: 150px;
    padding: 5px;
    justify-content: center;
    background-color: var(--clr-main);
    border: solid black 2px;
    border-radius: 5px;
    font-size: larger;
}

/*============================= bigblog =============================*/

.bigmainblog {
    background-color: var(--clr-main);
    color: white;
    padding: 20px;
    margin: 20px;
}

.bigblogtitle {
    width: 100%;
    text-align: center;
    margin: auto;
}

.bigblogintro {
    text-align: center;
    margin: auto;
    margin: 10px;
}

.bigblogimg {
    height: 400px;
    object-fit: contain;
    width: 100%;
}

.bigblogtxt {
    word-wrap: break-word;
}

/*============================= Commnets =============================*/

.commentdiv {
    display: inline-block;
    margin: 20px 0px 20px 0px;
    box-sizing: content-box;
    border-radius: 35px;
    height: 70px;
    background-color: var(--clr-bg);
    width: auto;
    color: black;
    height: fit-content;
    max-width: 70vw;
}

.commentimg {
    width: 70px;
    height: 70px;
    border-radius: 100px;
    float: left;
}

.username {
    margin-top: 5px;
    margin-left: 80px;
    margin-right: 20px;
    font-size: 25px;
}

.commenttext {
    margin-left: 80px;
    margin-top: 10px;
    margin-right: 20px;
    font-size: 20px;
    word-wrap: break-word;
}

/*============================= place commnet =============================*/

.item5 { grid-area: username; }
.item6 { grid-area: text; }
.item7 { grid-area: button; }
.item8 { grid-area: img; }

.grid-container3 {
    grid-template-areas:
    'img username button'
    'img text button';
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 70px 50% auto;
    height: 100%;
    width: 100%;
    place-items: center;
}

.plc-commentdiv {
    /*____________________________________*/
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline-block;
    height: 70px;
    color: black;
    /* background-color: var(--clr-bg); */
    border-bottom: solid;
    border-bottom-left-radius: 35px;
    width: 100%;
}

.plc-commentimg {
    width: 70px;
    height: 70px;
    border-radius: 100px;
    float: left;
}

.plc-username {
    margin-top: 5px;
    margin-left: 75px;
    margin-right: 20px;
    font-size: 25px;
    width: 100%;
}

.plc-commenttext {
    margin-left: 55px;
    font-size: 20px;
    border: none;
    background-color: var(--clr-main);
    width: 100%;
}

.plc-commenttext:focus {
    outline: none;
    border: none;
    text-decoration: none;
}

.plc-button {
    margin-left: auto;
    width: 100px;
    height: 40px;
    background-color: black;
    color: white;
    border-radius: 50px;
    font-size: 20px;

    /* remove button stlye */
	border: none;
	padding: 0;
	cursor: pointer;
	outline: inherit;
}



.grid-container {

    gap: 20px;
    padding: 20px;
    height: 1000px;
}