@media only screen and (min-width: 950px) {

    /*============================= grid =============================*/
    
    .item1 { grid-area: main; }
    .item2 { grid-area: sec; }
    .item3 { grid-area: sec2; }
    .item4 { grid-area: btn; }
    
    .grid-container {
        display: grid;
        grid-template-areas:
        'main sec'
        'main sec2'
        'main btn';
        grid-template-rows: 45% 45% 5%;
        grid-template-columns: 66% 33%;
        gap: 20px;
        padding: 20px;
        height: 1000px;
    }
    
    /*============================= index =============================*/
    
    /*============================= bloglist =============================*/
    
    .grid-container2 {
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 20px;
        padding: 20px;
    }
    
    /*============================= Login =============================*/

    .inlogform {
        width: 30%;
        margin: auto;
        border: solid;
        margin-top: 20px;
        border-radius: 6px;
        padding: 20px;
        background-color: var(--primary-button);
        margin-bottom: 20px;
    }
    
    .formtitle {
        color: var(--text);
        width: 100%;
        text-align: center;
    }
    
    .registerlink {
        color: var(--text);
        width: 100%;
        text-align: center;
    }

    .registerlink:hover {
        text-decoration: underline;
    }
    
    .input {
        color: var(--text);
        background-color: var(--background);
        padding: 10px;
        width: 100%;
        border-radius: 6px;
        border: solid;
    }
    .input::placeholder {
        color: var(--text);

    }
    
    .formbutton {
        display: block;
        margin: auto;
        margin-top: 20px;
        width: 150px;
        padding: 5px;
        justify-content: center;
        background-color: var(--accent);
        border: solid black 2px;
        border-radius: 6px;
        font-size: larger;
        color: var(--text);
    }
    
    .inputdiv {
        margin-top: 20px;
        color: var(--text);
    }

    /*============================= Profile =============================*/
    
    .profiletitle {
        margin: auto;
        width: 50vw;
        text-align: center;
        margin-top: 20px;
        color: var(--text);
    }
    
    .profilediv {
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        margin-top: 20px;
        border-radius: 6px;
        border: 2px solid #000;
        background: var(--secondary-button);
        width: 650px;
        height: 300px;
        padding: 20px;
        color: var(--text);
    }
    
    /* .profileform {
        
    } */
    
    .imgdiv {
        width: 100px;
        margin: 20px;
        height: 150px;
        float: left;
    }
    
    .imgdiv2 {
        width: 100px;
        margin: 20px;
        margin-top: 20px;
        height: 150px;
        float: left;
    }
    
    .profilepic {
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }
    
    .profilepictext {
        width: 100%;
        text-align: center;
    }
    
    .name {
        margin-left: 20px;
        margin-top: 20px;
    }
    
    .profilebtn1 {
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        bottom: 90px;
        width: 50%;
        height: 50px;
        background-color: var(--primary-button);
        border:black solid 2px;
        border-radius: 100px;
    
        text-align: center;
        font-size: 24px;
        font-weight: 700;
        cursor: pointer;
    
        color: var(--text);
    }
    
    .profilebtn2 {
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        bottom: 20px;
        width: 50%;
        height: 50px;
        background-color: var(--accent);
        border:black solid 2px;
        border-radius: 100px;
    
        text-align: center;
        font-size: 24px;
        font-weight: 700;
        cursor: pointer;

        color: var(--text);
    }
    
    .editusername {
        margin-top: 20px;
        width: 310px;
        border: none;
        background: inherit;
        font-size: 24px;
        font-weight: bold;
        text-decoration: underline;
        color: var(--text);
    }
    
    .editusername::placeholder {
        color: grey;
        opacity: 1; /* Firefox */
    }
    
    .editemail {
        width: 355px;
        border: none;
        background: inherit;
        font-size: 24px;
        font-weight: bold;
        text-decoration: underline;
        color: var(--text);
    }
    
    .editemail::placeholder {
        color: grey;
        opacity: 1; /* Firefox */
    }
    
    .name2 {
        float: left;
        margin-top: 20px;
    }
    
    .email2 {
        float: left;
    }
    }